<footer class="footer py-3">
    <div class="container">
        <div class="row align-items-center">

            <!--Socials-->
            <div class="col-lg-4 text-lg-start">
                <h4 class="container" id="contact">Get in touch</h4>
                <a class="btn btn-dark btn-social mx-2"
                   href="mailto:hatuazetufoundationhtz@gmail.com" aria-label="Gmail"><i class="fa fa-envelope"></i>
                </a>
                <a class="btn btn-dark btn-social mx-2"
                   href="https://www.instagram.com/hatuazetu_foundation?igsh=OTVocDQ5ZnZ1eGt6"
                   aria-label="Instagram"><i class="fab fa-instagram"></i>
                </a>
                <a class="btn btn-dark btn-social mx-2"
                   href="https://x.com/Hatuazetuf?t=tOLAuCM2zJ7akOGgk0-j0Q&s=03"
                   aria-label="Twitter"><i class="fab fa-twitter"></i>
                </a>
            </div>

            <!--location-->
            <div class="container col-lg-4 my-3 my-lg-0">
                <h4 id="location" class="container">Location</h4>
                <p class="text-muted container">Nairobi, Kisii, and Taita Taveta.</p>
            </div>

            <!--copyright-->
            <div class=" text-center col-lg-4 text-lg-end">
                <small class="text-center">Copyright &copy; Hatua Zetu Foundation 2024 | All Rights Reserved</small>
            </div>
        </div>
    </div>
</footer>